/* Estilos generales para la página */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 150px;  /* Mantiene consistencia con el margen */
}

.title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.error {
  color: red;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}

.noProducts {
  font-size: 18px;
  text-align: center;
  color: #777;
  margin-top: 20px;
}

/* Lista de productos */
.productList {
  list-style-type: none;
  padding: 0;
}

.productItem {
  background-color: #fff;
  padding: 15px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.productItem:hover {
  background-color: #f1f1f1;
}

.productName {
  font-size: 18px;
  color: #333;
}

.productPrice {
  font-size: 18px;
  color: #28a745;
  font-weight: bold;
}

/* Input de cantidad */
.quantityInput {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 15px;
}

/* Botón de hacer pedido */
.orderButton {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.orderButton:hover {
  background-color: #0056b3;
}
.productItem {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

.productImage {
  width: 50px; /* Tamaño de la miniatura */
  height: 50px; /* Tamaño de la miniatura */
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.productName {
  flex: 1;
}

.productPrice {
  margin-left: auto;
  font-weight: bold;
}
