/* global.css */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    color: #333;
}

.pagina {
  height: 100vh;
}

/* Cabecera */
.cabecera {
  position: relative; /* Posiciona el header sin fijarlo */
  top: 0;
  width: 100%;
  padding: 20px;
  color: #000;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px); /* Efecto de desenfoque en el fondo */
}

/* Contenedor de los elementos en la cabecera */
.inCabecera {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido */
  width: 100%;
  position: relative; /* Necesario para posicionar userBox dentro */
}

/* Banner centrado */
.banner {
  display: flex;
  justify-content: center;
  margin: 0 auto; /* Centra el banner */
}

/* UserBox en la esquina superior derecha dentro de .inCabecera */
.userBox {
  position: absolute; /* Posiciona userBox dentro de .inCabecera */
  top: 0;
  right: 30px; /* Ajusta según sea necesario */
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.userName {
  margin-right: 8px;
  font-size: 16px;
}

.userIcon {
  font-size: 24px;
}

/*Boton god*/
.Button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

/* Botón para togglear el menú lateral */
.toggleButton {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1002; /* Más alto que el sidebar para estar siempre encima */
}

/* Menú lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Oculto por defecto */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s ease;
  z-index: 1000; /* Por debajo del toggleButton */
  padding-top: 60px; /* Espacio para el botón */
}

.sidebar.open {
  left: 0; /* Visible cuando está abierto */
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar nav ul li:hover {
  background-color: #444;
}
