/* Estilos simples para la página de inicio de sesión */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
  }
  
  .button {
    padding: 10px;
    font-size: 16px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    margin-bottom: 20px;
  }
  