
/* Contenido principal */
.mainContent {
  flex: 1;
  padding: 20px;
  transition: all 0.3s ease;
}

/* Otros estilos */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 48px;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  color: #555;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.searchBar {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.restaurantsTitle {
  font-size: 32px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.restaurantsList {
  list-style-type: none;
  padding: 0;
}

.restaurantItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.restaurantItem:hover {
  background-color: #f0f0f0;
}

.noRestaurants {
  font-size: 18px;
  color: #777;
}

.welcomeMessage {
  font-size: 24px;
  color: #555;
  text-align: center;
  padding: 20px;
  animation: fadeIn 1.5s ease-in-out infinite;
  font-weight: bold;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 80%; /* Limita el ancho para no ocupar toda la pantalla */
}

/* Estilos para el contenedor de cada restaurante */
.restaurantCard {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.restaurantCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Imagen del restaurante */
.restaurantImage {
  flex: 0 0 150px; /* Tamaño fijo para la imagen */
  height: 120px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 8px;
}

.restaurantImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Información del restaurante (nombre y descripción) */
.restaurantInfo {
  flex: 1;
}

.restaurantName {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.restaurantNumTelefono {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}


@keyframes fadeIn {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}