.signupContainer {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  .pagina {
    min-height: 100vh; /* Al menos la altura de la ventana */
    width: 100%; /* Asegura que ocupe todo el ancho */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .videoBackground {
    position: fixed; /* Cambia a fixed para que siga el scroll */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .signupForm {
    display: flex;
    flex-direction: column;
  }
  
  .signupForm label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .signupForm input, .signupForm select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signupButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signupButton:hover {
    background-color: #45a049;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .successMessage {
    color: green;
    margin-bottom: 10px;
    font-weight: bold;
  }
  


  .encabezado {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .item1, .item2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
  }

  .linkButtonSmall {
    margin-top: 10px;
    background: none;
    border: none;
    color: #0070f3;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    padding: 0;
  }
  
  .linkButtonSmall:hover {
    color: #005bb5;
  }

  .flexRow {
    display: flex;
    justify-content: space-between; /* Espacia entre los dos elementos */
    gap: 20px; /* Ajusta el espacio entre los campos */
  }
  
  .inputGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
  }